<div class="search-root">
	<div class="search-bar">
		<input
			type="text"
			placeholder="Search for songs or albums"
			[(ngModel)]="query"
			(keyup.enter)="onSearch()"
		/>
		<button type="button" (click)="onSearch()">Search</button>
	</div>

	<app-loader *ngIf="loading"></app-loader>

	<div class="search-results" *ngIf="results$ | async as results">
		<div class="search-column">
			<h3>Tracks</h3>
			<div
				class="search-track"
				*ngFor="let track of results.tracks"
				(click)="playTrack(track)"
			>
				<img
					[src]="track.album.images[0].url"
					[alt]="track.name"
				/>
				<div class="search-track-info">
					<div class="title">{{ track.name }}</div>
					<div class="subtitle">
						{{ getArtistNames(track.artists) }} •
						{{ track.album.name }}
					</div>
				</div>
			</div>
		</div>

		<div class="search-column">
			<h3>Albums</h3>
			<div
				class="search-album"
				*ngFor="let album of results.albums"
				(click)="openAlbum(album)"
			>
				<img
					[src]="album.images[0].url"
					[alt]="album.name"
				/>
				<div class="search-album-info">
					<div class="title">{{ album.name }}</div>
					<div class="subtitle">{{ getArtistNames(album.artists) }}</div>
				</div>
			</div>
		</div>
	</div>
</div>
